<form action="/mobile/<%=mobile.name%>" method="post">
    <input type="text" name="brand" placeholder="Enter Brand Name" value=<%=mobile.brand%>>
    <input type="text" name="mobile" placeholder="Enter Mobile Name" value=<%=mobile.name%>>
    <input type="number" name="camera" placeholder="Enter camera megapixel" value=<%=mobile.camera%>>
    <input type="number" name="ram" placeholder="Enter RAM" value=<%=mobile.ram%>>
    <input type="number" name="storage" placeholder="Enter Storage" value=<%=mobile.storage%>>
    <button type="submit">Submit</button>
</form>